<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Title"] - GuniPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
   
      
      
       <!-- favicon -->
    <link rel="shortcut icon" type="~/Image/favicon.madrasha.png" href="Image/favicon.madrasha.png">
    <!-- animate.min - css -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- animate - css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl.carousel.min - css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- owl.theme.default.min - css -->
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- font-awesome.min - css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!-- bootstrap.min - css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- main - css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- responsive - css -->
    <link rel="stylesheet" href="~/css/responsive.css"> 
</head>
<body data-new-gr-c-s-check-loaded="8.896.0" data-gr-ext-installed="">

<!-- prelodear start -->
    <div id="preloader" class="d-none"></div>
<!-- prelodear end -->  

    <header class="header-section sticky-header clearfix not-stuck">
        <!-- top header end-->
        <div class="menu-sticky">
            <div class="container">
                <nav class="navbar navbar-expand-lg px-0">
                    <a class="navbar-brand" ><img src="~/Image/logo1.png" width="47px" alt="">Guni-Thesis</a>
                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active mr-4 ">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item mr-4">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">About-Us</a>
                            </li>
                           
                         <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </div>
    </header>
@*<header>



        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                    <img src="~/Images/thesis-icon.png" width="40" height="35" alt="">

                <a class="navbar-brand" asp-area="" asp-page="/Index">GuniPortal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container-fluid">
        <main role="main" class="pb-3 ">4
            <div class="mt-5 pt-t-3">
            @RenderBody()
            </div>
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      <!-- jquery-3.5.0.min - js -->
    <script src="~/js/jquery-3.5.0.min.js"></script>
    <!-- bootstrap.min - js -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <!-- popper.min - js -->
    <script src="~/js/popper.min.js"></script>
    <!-- owl.carousel.min - js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- wow.min - js -->   
    <script src="~/js/wow.min.js"></script>
    <!-- main - js -->  
    <script src="~/js/main.js"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
