@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <section id="subscribe-now">
        <div class="overlay-subscribe"></div>
        <div class="container">
            <div class="section-tittle text-center">
                <h3 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                Log<span class="span_item"> Out</span>!</h3>
                <p>You may find answer for your questions<br> Thanks For Visiting</p>
                <div class="row email-content">
                    <div class="col-md-6">
                        <div class="content">
                            <center>
                                <span class="input-group-btn">
                                  <a asp-area="" class="btn btn-outline-secondary" asp-page="/Index" > 
                                  <button class="btn subscribe-btn" type="submit">Home!</button>
                                  </a>
                                </span>
                            </center>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
       
         
        }
    }
</header>