@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}

<section id="page-breadcrumb">
        <div class="common-overlay"></div>
        <div class="breadcrumb-menu">
            <h3>ABOUT US</h3>
            <ol class="breadcrumb d-flex justify-content-center">
                <li>
                    <a href="index-2.html">Home&nbsp;-&nbsp;</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </section>
<section id="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_image">
                    <img src="Image/about_page.png" alt="about_image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_para">
                    <small>ABOUT US</small>
                    <h4>Learn Skills To Go Ahaed For Your Career</h4>
                    <p class="mb-4 peragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda velit officiis quae ipsa fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore totam tempora quas veniam illum suscipit in sint? Suscipit, fugiat, maiores.Tempora assumenda velit officiis quae ipsa fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore totam tempora quas veniam illum suscipit in sint? Suscipit.</p>
                    <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vel, dicta ipsa! Blanditiis voluptates asperiores rerum officiis dolor non voluptatum?</q>
                </div>
            </div>
        </div>
        <p class="about-pera-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo illum facere ab fugit voluptas culpa magnam laborum reprehenderit optio, harum, aspernatur, maxime eum? Aperiam voluptas tempore voluptate adipisci veritatis cum sapiente deleniti libero minus qui, doloribus dicta nostrum provident nam hic distinctio magnam atque accusantium harum sit porro, magni doloremque?Lorem ipsum dolor sit amet consectetur adipisicing, elit. Eligendi quo iusto at ipsum, suscipit dolorem voluptas, molestiae accusantium provident odio.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime cum, incidunt nam asperiores perspiciatis voluptate alias ea necessitatibus voluptas aliquam magnam consectetur corporis sapiente placeat ipsum officia reiciendis dolorem odit! Sunt voluptatibus repudiandae eveniet doloremque ipsam ducimus amet soluta reiciendis minima ut facilis est, pariatur, quod maiores. Labore, nihil reprehenderit.</p>

        <div class="counter_item">
                <div class="row wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                <div class="col-md-3">
                  <div class="card-counter primary">
                    <i class="fa fa-code-fork"></i>
                    <span class="count-numbers">35+</span>
                    <span class="count-name">Students</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter danger">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">80k+</span>
                    <span class="count-name">Courses</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter success">
                    <i class="fa fa-database"></i>
                    <span class="count-numbers">50+</span>
                    <span class="count-name">Universities</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">100</span>
                    <span class="count-name">Scholarship</span>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>