@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}

<section id="page-breadcrumb">
        <div class="common-overlay"></div>
        <div class="breadcrumb-menu">
            <h3>ABOUT US</h3>
            <ol class="breadcrumb d-flex justify-content-center">
                <li>
                    <a href="index-2.html">Home&nbsp;-&nbsp;</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </section>
<section id="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_image">
                    <img src="Image/about_page.png" alt="about_image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_para">
                    <small>ABOUT US</small>
                    <h4>Learn Skills To Go Ahaed For Your Career</h4>
                    <p class="mb-4 peragraph">
                        Ganpat University and the township of Ganpat Vidyanagar, a high-tech education campus is a joint initiative, purely philanthropic in nature, by a large number of industrialists and technocrats, noble farmers and affluent businessmen for the mission of “Social Upliftment through Education”. The University is established by the State Government by enactment of Act No.19/2005 on 12th April, 2005. In consideration of its contribution to the Education in a short period of time, the University has been given Permanent Membership of Association of Indian Universities (AIU), New Delhi besides having a membership from Association of Commonwealth Universities (ACU), UK and International Association of Universities (IAU), France.</p>
                </div>
            </div>
        </div>
        <p class="about-pera-2">
            Ganpat University offers various unique, quality, industry-linked and sector-focused Diploma, Undergraduate, Postgraduate and Research level programs (Professional and Non-professional) in the field of Engineering, Management, Computer Applications, Pharmacy, Sciences, Commerce & Social Science, Architecture, Design & Planning, Maritime Studies, Law etc.
            </p>

        <div class="counter_item">
                <div class="row wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                <div class="col-md-3">
                  <div class="card-counter primary">
                    <i class="fa fa-code-fork"></i>
                    <span class="count-numbers">2005</span>
                    <span class="count-name">Established In</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter danger">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">25+</span>
                    <span class="count-name">Total Institutes</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter success">
                    <i class="fa fa-database"></i>
                    <span class="count-numbers">790+</span>
                    <span class="count-name">Total Staff at the University</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">9+</span>
                    <span class="count-name">Total PhD</span>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>